@import "../colors.less";
@import "../components/emphasized-button.less";

.account-panel {
    padding: 60px;

    .header {
        margin-bottom: 30px;

        .title {
            font-size: 30px;
            font-weight: 600;
            color: @white;
            display: inline-block;
        }

        .logout {
            .emphasized-button(@white, @black-20, @hover-grey, @dark);
            float: right;
        }
    }

    .wombats {
        display: flex;
        flex-flow: row wrap;

        .wombat-card {
            margin: 20px 40px 65px 0;
        }
    }
}
