@import "../colors.less";
@import "../components/emphasized-button.less";
@import "../components/header.less";

@account-panel-padding: 60px;

.account-panel {
    padding: @account-panel-padding;
    position: relative;
    width: calc(~"100% - " (@account-panel-padding * 2));
    .header;

    .logout {
        .emphasized-button(@white, @black-20, @hover-grey, @dark);
        position: absolute;
        right: @account-panel-padding;
    }

    .wombats {
        display: flex;
        flex-flow: row wrap;

        .wombat-card {
            margin: 20px 40px 65px 0;
        }
    }
}
