@import "../colors.less";
@desktop-and-up: ~"only screen and (min-width: 1920px)";

.games-panel {
    padding: 45px 60px;

    .toggles {
        display: flex;
        justify-content: center;
        align-items: center;

        .my-game-toggle-wrapper {
            display: inline-flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
            right: 60px;
            cursor: pointer;

            .checkbox {
                width: 14px;
                height: 14px;
                border: 2px solid gray;
                border-radius: 3px;
                display: inline-block;

                &.selected {
                    background-color: @wombat-green;
                    background-image: url(/images/icon-checkmark.png);
                    background-repeat: no-repeat;
                    background-position: 2px 4px;
                    border: none;
                    padding: 2px;
                }
            }

            .desc {
                display: inline-block;
                font-weight: 600;
                letter-spacing: 2px;
                color: @white;
                margin-left: 10px;
            }
        }
        .tab-game-toggle {
            display: inline-flex;
            justify-content: center;

            .game-tab {
                width: 80px;
                height: 40px;
                font-weight: 600;
                letter-spacing: 2px;
                color: @white;
                font-size: 14px;
                text-align: center;
                line-height: 40px;
                margin-left: 20px;
                cursor: pointer;

                &.active,
                &:hover {
                    border-bottom: 3px solid @wombat-green;
                }
            }
        }
    }

    .games {
        padding-top: 60px;

        .games-list {
            padding: 0;
            margin: 0 auto;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 1200px;

            .game-card {
                margin: 0 20px 20px;
            }

            @media @desktop-and-up {
                width: 1800px;
            }
        }

        .empty-text {
            color: @white;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            margin-top: 250px;
        }
    }
}
