@import "../colors.less";
@import "../components/navbar.less";

.game-play-panel {
    @title-font-weight: 600;

    display: flex;
    height: calc(~"100% - " @navbar-height);

    .left-game-play-panel {
        &.game-over {
            opacity: 0.3;
        }
    }
    
    .right-game-play-panel {
        width: 100%;
        display: flex;
        flex-direction: column;

        .top-panel {
            height: 60%;
            padding: 10px 19px;

            .game-play-title-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .game-play-title {
                    margin: 0;
                    color: @white;
                    font-size: 30px;
                    font-weight: @title-font-weight;
                }
            }
            
            .game-play-subtitle {
                margin: 0;
                color: @white;
                font-size: 18px;
                font-weight: @title-font-weight;
            }

            .wombat-counter {
                color: @white;
            }
        }

        .chat-panel {
            height: 40%;
            display: flex;
            flex-direction: column;
            
            @chat-title-height: 30px;
            .chat-title {
                margin-left: 20px;
                color: @white;
                display: block;
                letter-spacing: 2px;
                height: @chat-title-height;
                text-align: left;
                font-weight: @title-font-weight;
                
                span {
                    padding: 0 10px;
                    position: relative;

                    &:after {
                        content: '';
                        width: 100%;
                        position: absolute;
                        border-bottom: 4px solid @wombat-green;
                        left: 0;
                        bottom: -9px;
                    }
                }
            }

            .chat-box {
                height: calc(~"100% - " @chat-title-height);
                padding: 10px 19px;
            }
        }
    }
}

