@import "../colors.less";
@import "../components/simple-button.less";
@import "../utils/typography.less";
@import "../components/simulator/controls.less";

.simulator-panel {
    @canvas-dimensions: 600px;
    display: flex;
    flex-wrap: wrap;
    .right-pane {
        width: calc(~"100% - " @canvas-dimensions);
        position: relative;
        height: 100%;

        .split-panel {
            height: 100%;
            .panel-top {
                height: 50%;
                #editor {
                    @editor-padding: 2px;
                    position: absolute;
                    font-family: monospace;
                    width: calc(~"100% - " 2 * @editor-padding);
                    height: inherit;
                }

            }
            .panel-divider {
                color: @simulator-grey;
                height: 16px;
                .panel-grabber {
                    width: 30px;
                    }

            }
            .line-bottom {
                height: 50%;

                .output-container {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    @editor-padding: 2px;
                    position: absolute;
                    width: calc(~"100% - " 2 * @editor-padding);
                    height: inherit;

                    #state {
                        flex-grow: 1;
                        font-family: monospace;
                    }
                    #command {
                        flex-grow: 0;
                        font-family: monospace;
                    }

                    .output-section {
                        flex-grow: 0;

                        .output-section-title {
                            color: @white;
                            padding: 10px;
                            margin: auto;
                        }
                    }
                }


            }

        }

        .configure {
            padding: 10px;
            color: @white;
            font-family: monospace;

            .select {
                font-family: monospace;
                width: 200px;
                display: block;
                margin-bottom: 20px;
                height: 30px;
                color: @black;
            }

            .update-btn {
                .simple-button(@margin-left: 0);
                padding: 5px;
                font-family: monospace;
            }
        }

        .no-stack-trace-message {
            font-family: monospace;
            color: @white;
            text-align: center;
            font-size: @font-size-20;
        }

        .stack-trace {
            font-family: monospace;
            color: @white;
            max-height: 560px;
            overflow-y: scroll;

            .stack-trace-message {
                padding: 10px;
                font-size: @font-size-20;
            }

            .stack-trace-details {
                list-style: none;
                padding: 10px;

                .line-item {
                    margin-bottom: 5px;
                }
            }
        }

    }
}
