@import "../colors.less";
@import "../objects/button.less";

.welcome-panel {
    padding: 60px;
    width : 100%;

	 
     .welcome-title-container{
          padding-top: 90px;
          padding-bottom: 10px;
		  margin-left: auto;
		  margin-right: auto;
     	  max-width: 491px;
     	  display: block;
     	  font-family: "Open Sans";
		  font-size: 30px;
		  font-weight: 600;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
     	.welcome-title-content {
		 
		  font-family: "Open Sans";
		  font-size: 30px;
		  font-weight: bold;
		  font-style: normal;
		  font-stretch: normal;
		  line-height: normal;
		  letter-spacing: normal;
		  color: @white;
		  display: inline-block;
		  text-transform: uppercase;
		  
	      }
     }
	 
   
	  .welcome-message-container {
		  max-width: 560px;
		  height: 96px;
		  display: block;
		  margin: auto;
		  padding-top: 10px;
		  padding-bottom:20px;

		  .welcome-message-content {
			  font-family: "Open Sans";
			  font-size: 18px;
			  font-weight: 600;
			  font-style: normal;
			  font-stretch: normal;
			  line-height: 1.33;
			  letter-spacing: normal;
			  text-align: center;
			  color: #ffffff;
			  padding-bottom: 18px;
			}
      }

      .welcome-button-container {
           display: block;
           margin: auto;
           padding: 0px;
           text-align: center;

	      .welcome-button {
			  max-width: 225px;
			  height: 40px;
			  background-color: #7ed321;
			  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
			  margin-left: auto;
			  margin-right: auto;
			  display: block;

			   .welcome-button-label {
				  mad-width: 180px;
				  height: 19px;
				  font-family: "Open Sans";
				  font-size: 14px;
				  font-weight: bold;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: normal;
				  letter-spacing: 2px;
				  text-align: center;
				  vertical-align: baseline;
				  color: #ffffff;
				  display: block;
				  margin-left: auto;
				  margin-right: auto;
				  text-transform: uppercase;
				}

		   }
	   }

}


// .welcome-panel {
//     background-color: red;
// }
// .img_logo_horizontal {
//   width: 134px;
//   height: 29px;
//   position:fixed; top:10px; left:10px;

// }



// .welcome-message-container {
//   width: 560px;
//   height: 96px;
//   font-family: OpenSans;
//   font-size: 18px;
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.33;
//   letter-spacing: normal;
//   text-align: center;
//   color: #ffffff;
//   position: relative;
// }

// .welcome-message-content {
//   font-family: OpenSans;
//   font-size: 18px;
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.33;
//   letter-spacing: normal;
//   text-align: center;
//   color: #ffffff;
//   display: block;
// }

// .welcome-button {
//   width: 225px;
//   height: 40px;
//   background-color: #7ed321;
//   box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.3);
//   margin: auto;
// }
// .welcome-button .text {
//   width: 180px;
//   height: 19px;
//   font-family: OpenSans;
//   font-size: 14px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 2px;
//   text-align: center;
//   color: #ffffff;
// }

// .TEXT .text-style-1 {
//   letter-spacing: normal;
// }

// /* Color palette */

// .root {
//   --green: #7ed321;
//   --red: #ff3636;
//   --light-gray: #a1a1a1;
//   --white: #ffffff;
//   --black: #000000;
//   --background-gray: #333333;
//   --card-gray: #222222;
//   --dark: #253238;
//   --neon-purple: #bc19f5;
//   --white-two: #eeeeee;
//   --orange-yellow: #ffa300;
//   --red-two: #ff0000;
//   --black-30: rgba(0, 0, 0, 0.3);
// }

// /* Text styles */

// h1 {
//   font-family: OpenSans;
//   font-size: 30px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: normal;
//   color: #ffffff;
//   color: var(--white);
// }

// h2 {
//   font-family: OpenSans;
//   font-size: 18px;
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.33;
//   letter-spacing: normal;
//   color: #ffffff;
//   color: var(--white);
// }

// .Nav-Default {
//   font-family: OpenSans;
//   font-size: 14px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 2px;
//   color: #a1a1a1;
//   color: var(--light-gray);
// }

// .Nav-Active {
//   font-family: OpenSans;
//   font-size: 14px;
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: normal;
//   letter-spacing: 2px;
//   color: #ffffff;
//   color: var(--white);
// }

// link {
//   font-family: OpenSans;
//   font-size: 14px;
//   font-weight: 600;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.43;
//   letter-spacing: normal;
//   color: #7ed321;
//   color: var(--green);
// }

// body {
//   font-family: OpenSans;
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.43;
//   letter-spacing: normal;
//   color: #ffffff;
//   color: var(--white);
// }