@import "../colors.less";
@import "../components/emphasized-button.less";
@import "../components/simple-button.less";
@import "../utils/typography";

@access-form-width: 310px;
@logo-height: 50px;

.welcome-panel {
    height: 100%;
    position: relative;
    background-image: url(/images/welcome-background.png);
    background-repeat: no-repeat;
    background-size: cover;

    .welcome-logo-container {
        width: 100%;
        height: @logo-height;
        position: relative;

        .logo {
            position: absolute;
            left: 40px;
            top: 20px;
        }
    }

    .welcome-content-container {
        width: 100%;
        height: calc(~"100% -" @logo-height);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .welcome-title-container {
            .bold;

            max-width: 290px;
            text-align: center;
            color: @white;
            font-size: @font-size-30;
            text-transform: uppercase;
            padding-bottom: 20px;
        }

        .welcome-message-container {
            max-width: 550px;
            font-size: @font-size-18;
            text-align: center;
            color: @white;

            .welcome-message-content {
        	margin-bottom: 20px;
            }
        }

        .access-form {
            width: @access-form-width;

            .welcome-button-container {
                .emphasized-button(@wombat-green, @black-30, @wombat-dark-green, @white, @access-form-width);
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;
            }
        }

        .login-prompt {
            text-align: center;
            .login {
               .simple-button(@margin-left: 0);
            }
        }
    }

    .copyright {
        color: @warm-grey;
        font-size: @font-size-12;
        position: absolute;
        left: 40px;
        bottom: 20px;
    }
}
