@import "../colors.less";
@import "../components/emphasized-button.less";
@import "../utils/typography";

.welcome-panel {
    height: 100%;
    position: relative;
    background-image: url(/images/welcome-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    .welcome-logo-container {	
        width: 100%;
        padding-left: 40px;
        padding-top: 20px;
    }

    .welcome-content-container {
        width: 100%;
        padding-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;

        .welcome-title-container {
            .bold;

            max-width: 600px;
            display: block;
            text-align: center;
            margin: auto;				
            color: @white;
            font-size: @font-size-30;
            display: inline-block;
            text-transform: uppercase; 
            padding: 20px;
        }

        .welcome-message-container {
            .bold;

            max-width: 560px;
            height: 96px;
            display: block;
            margin: 0 auto;
            font-size: @font-size-18;
            line-height: 1.33;
            text-align: center;
            color: @white;
            padding-bottom: 20px;

            .welcome-message-content {
        	margin-bottom: 24px;
            }	
        }

        .welcome-button-container {
            .emphasized-button(@wombat-green, @black-30, @wombat-dark-green, @white); 
            width: 202px;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .copyright {
        color: @warm-grey;
        font-size: @font-size-12;
        position: absolute;
        left: 40px;
        bottom: 20px;
    }
}
