@import "../../colors.less";
@import "../../components/simple-button.less";
@import "../../utils/typography.less";

@controls-height: 64px;

.simulator-controls {
    position: relative;
    bottom: 0%;
    display: flex;
    width: 100%;
    flex-grow: 1;

    background-color: @card-grey;
    .step,
    .mini-map {
        .simple-button;
    }

    .icon-settings {
        width: 21px;
        height: 22px;
        object-fit: contain;
        align-self: center;
        padding: 20px;

    }

    .icon-arrow {
        width: 22px;
        height: 22px;
        object-fit: contain;
        align-self: center;

        &.right {
            transform: rotate(180deg);
        }
    }
}
