@import "../../colors.less";
@import "../../components/simple-button.less";
@import "../../utils/typography.less";

@controls-height: 64px;

.simulator-controls {
    position: relative;
    bottom: 0%;
    display: flex;
    width: 100%;
    flex-grow: 1;

    background-color: @card-grey;
    .step,
    .mini-map {
        .simple-button;
    }
    @progress-bar-height: 6px;
    .progress-bar {
        height: @progress-bar-height;
        width: inherit;
        margin-right: 10px;
        align-self: center;
        background-color: @background-grey;
        .filled {
            background-color: @wombat-green;
            width: 0%;
            margin: 0px;
        }
    }
    .scrubber {
        @scrubber-size: 18px;
        width: @scrubber-size;
        height: @scrubber-size;
        background-color: @white;
        border-radius: 100%;
        float: right;
        position: relative;
        left: calc(@scrubber-size / 2);
        top: -@progress-bar-height;
    }

    .icon-play {
        width: 44px;
        height: 44px;
        align-self: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .icon-settings {
        width: 21px;
        height: 22px;
        align-self: center;
        margin: 20px;

    }

    .icon-arrow {
        width: 22px;
        height: 22px;
        margin: 5px;
        align-self: center;

        &.right {
            transform: rotate(180deg);
        }
    }
}
