@desktop-and-up: ~"only screen and (min-width: 1920px)";
@mobile: ~"only screen and (max-width: 600px)";
@midsize: ~"only screen and (min-width: 601px) and (max-width: 800px)";
@midsize-and-down: ~"only screen and (max-width: 800px)";
