@import "colors.less";

.text-input-wrapper {
  text-align: center;

  .label {
    text-align: left;
    font-size: 12px;
    color: @warm-grey;
    display: block;
    padding-left: 30px;
  }

  .input {
    border-style: none;
    width: 305px;
    height: 45px;
    font-size:20px;
    padding-left: 5px;
    margin-bottom: 30px;
  }
}

.modal-button {
  color: @wombat-green;
  font-size: 14px;
  background-color: @card-grey;
  border-style: none;
  cursor: pointer;
  margin-left: 20px;
}