// SETTINGS
@import "colors.less";

// UTILS
@import "forms.less";

// OBJECTS
@import "objects/button.less";

// PANELS
@import "panels/account.less";
@import "panels/game-play.less";
@import "panels/games.less";
@import "panels/simulator.less";
@import "panels/page-not-found.less";

// COMPONENTS
@import "components/cards/game-card.less";
@import "components/cards/wombat-card.less";
@import "components/modals/modal.less";
@import "components/modals/delete-wombat-modal.less";
@import "components/modals/join-wombat-modal.less";
@import "components/modals/winner-modal.less";
@import "components/add-button.less";
@import "components/chat-box.less";
@import "components/navbar.less";
@import "components/game-rankings.less";
@import "components/tabbed-container.less";



@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic,700italic);

@sans-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-family-primary: @sans-font-family;
@font-family-bold: @sans-font-family;
@font-family-secondary: @sans-font-family;

@font-weight-primary: 400;
@font-weight-bold: 700;
@font-weight-secondary: 600;

html {
    font-family: @font-family-primary;
    font-weight: @font-weight-primary;
    font-size: 14px;
    min-height: 100%;
    background-color: @background-grey;
}

body {
    margin: 0;
    position: relative;
}

.app-container {
    height: 100vh;
}
