@import "../../colors.less";
@import "../../objects/label.less";
@import "../../components/inline-error.less";
@import "../../utils/typography";
@import "../../z-index.less";

@select-margin-bottom: 30px;

.modal-container {
    .join-wombat-modal {
        .private-game-container {
            .label;

            .private-game-msg {
                width: 100%;
            }
        }

        .select-color {
            width: 100%;
            
            .label;
            .inline-error;

            .colors {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .wombat-img-wrapper {
                    cursor: pointer;
                    display: inline-block;
                    width: 60px;
                    margin: 5px;

                    .disabled {
                        display: none;
                        position: absolute;
                        width: 61px;
                        height: 61px;
                        background-color: @black-70;
                        cursor: initial;

                        &.display {
                            display: flex;
                        }
                    }

                    .selected {
                        content: " ";
                        position: absolute;
                        width: 61px;
                        height: 61px;
                        display: none;
                        align-items: center;
                        justify-content: center;

                        &.display {
                            display: flex;
                        }
                    }

                    .selected-icon {
                        position: absolute;
                        padding: 10px;
                        opacity: 1;
                        display: none;

                        &.display {
                            display: flex;
                        }
                    }

                    .wombat {
                        padding: 5px;
                        background-color: @white;

                        &:hover {
                            box-shadow: inset 0px 0px 0px 2px @wombat-green;
                        }
                    }
                }
            }
        }
    }
}
