@import "../../colors.less";
@import "../../objects/label.less";
@import "../../components/inline-error.less";
@import "../../utils/typography";

@select-margin-bottom: 30px;

.modal-container {
    .join-wombat-modal {
        .private-game-container {
            .label;

            .private-game-msg {
                width: 100%;
            }
        }

        .select-wombat {
            width: 100%;
            position: relative;
            margin-bottom: @select-margin-bottom;

            &.error {
                margin-bottom: 0;
            }

            .label;

            .placeholder {
                color: @black;
                font-size: @font-size-18;
                padding: 10px;
                cursor: pointer;
                background-color: @white-90;
                position: relative;

                &.unselected {
                    background-color: @white;
                }

                &.field-error {
                   box-shadow: inset 0px 0px 0px 1px @error-red;
                }

                .text {
                    color: @black;

                    &.unselected {
                        color: @warm-grey;
                    }
                }

                .icon-arrow {
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 10px;
                    height: 6px;

                    &.open-dropdown {
                        transform: rotate(180deg);
                    }
                }

                
                &:focus {
                    outline: none;
                }
            }

            .inline-error(@total-margin-height: @select-margin-bottom);

            .dropdown-wrapper {
                display: block;
                position: absolute;
                background-color: @white;
                color: @black;
                font-size: @font-size-18;
                cursor: pointer;
                width: 310px;
                box-shadow: 0px 8px 16px 0px @black-40;

                .wombat-options {
                    list-style-type: none;
                    padding: 10px;
                    color: @black;

                    &:hover {
                        background-color: @white-two;
                    }
                }
            }
        }

        .select-color {
            width: 100%;
            
            .label;
            .inline-error;

            .colors {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .wombat-img-wrapper {
                    cursor: pointer;
                    display: inline-block;
                    width: 60px;
                    margin: 5px;

                    .disabled {
                        display: none;
                        position: absolute;
                        width: 61px;
                        height: 61px;
                        background-color: @black-70;
                        cursor: initial;

                        &.display {
                            display: flex;
                        }
                    }

                    .selected {
                        content: " ";
                        position: absolute;
                        width: 61px;
                        height: 61px;
                        display: none;
                        align-items: center;
                        justify-content: center;

                        &.display {
                            display: flex;
                        }
                    }

                    .selected-icon {
                        position: absolute;
                        padding: 10px;
                        opacity: 1;
                        display: none;

                        &.display {
                            display: flex;
                        }
                    }

                    .wombat {
                        padding: 5px;
                        background-color: @white;

                        &:hover {
                            box-shadow: inset 0px 0px 0px 2px @wombat-green;
                        }
                    }
                }
            }
        }
    }
}
