@import "../../colors.less";

.join-wombat-modal {
  .select-color {
    display: flex;
    flex-flow: row wrap;
    width: 310px;
    margin: 0 auto;

    .wombat-img-wrapper {
      cursor: pointer;
      margin: 3px;
      width: 70px;
      height: 70px;
      background-color: @white;
      display: inline-block;

      img {
        padding: 5px;
      }

      &:hover {

      }
    }

    .dropdown-wrapper {
      li {
         list-style-type: none;
         display: block;
         padding: 5px 10px;
      }
    }
  }
}