@import '../../colors.less';
@import '../simple-button.less';

.modal-container {
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background-color: @black-80;
    }

    .modal {
        z-index: 11;
        color: @white;
        background-color: @card-grey;
        max-height: calc(~"100% - 100px");
        overflow: scroll;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;

        .title {
            font-size: 30px;
            font-weight: 600;
            color: @white;
            margin: 30px auto;
            text-align: center;
        }

        .modal-error {
            color: @error-red;
            font-size: 12px;
            margin: 0 30px 10px;
            text-align: center;
        }

        .desc {
            padding: 0 30px 30px;
        }

        .action-buttons {
            text-align: right;
            margin-right: 25px;
            margin-bottom: 15px;

            .close-button,
            .modal-button {
                .simple-button;
            }
                
            input {
                outline: none;

                &:hover {
                    color: @wombat-green;
                    opacity: 0.3;
                }
            }
        }
    }
}
