@import "../../colors.less";

.game-card {
  display: inline-flex;
  flex-flow: row wrap;
  
  .arena-preview {
    width: 165px;
    height: 165px;
    position: relative;
    img {
      position: absolute;
    }
    
    .join-button {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 34px;
      .emphasized-action-button(@wombat-green, @black-30);

      &.display {
        display: initial;
      }
    }

    .view-button {
      display: none;
      position: absolute;
      bottom: 10px;
      left: 34px;

      .emphasized-action-button(@wombat-green, @black-30);
      &.display {
        display: initial;
      }
    }
  }

  .game-information {
    background-color: @card-grey;
    color: @white;
    padding: 20px;

    .text-info {
      margin-bottom: 25px;

      .game-name {
        font-size: 18px;
        weight: 600;
        margin-bottom: 10px;
      }
    }

    .arena-freq {
      display: flex;
      flex-flow: row wrap;

      .freq-object {
        display: flex;
        width: 55px;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;


        img {
          width: 20px;
          height: 20px;
          padding-bottom: 5px;
        }
      }
    }
  }

  &:hover {
    border: 1px solid @wombat-green;
  }
}