@import "../../colors.less";
@import "../../objects/button.less";

@arena-preview-width: 165px;
@arena-preview-height: 165px;

.game-card {
    @link-z-index: 1;
    @join-button-z-index: @link-z-index + 1;

    display: inline-flex;
    flex-flow: row wrap;
    width: 560px;
    position: relative;

    // The link should take up the entire card
    .link {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: @link-z-index;
    }
    
    &:hover {
        .arena-preview {
            .join-button {
                display: initial;
            }
        }
    }

    .arena-preview {
        width: @arena-preview-width;
        height: @arena-preview-height;
        position: relative;

        .state-overlay {
            content: " ";
            position: absolute;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            background-color: @card-grey;
            opacity: 0.7;
            z-index: 1;
        }

        .game-state {
            z-index: 2;
            color: @white;
            opacity: 1;
            position: absolute;
            font-size: 30px;
            font-weight: 600;
            top: 60px;
            width: 100%;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .join-button {
            width: 100px;
            text-align: center;
            display: none;
            position: absolute;
            bottom: 60px;
            left: 34px;
            z-index: @join-button-z-index;

            .emphasized-action-button(@wombat-green, @black-30, @wombat-dark-green);

            &.private {
                padding-right: 25px;
                background-image: url(/images/lock.png);
                background-repeat: no-repeat;
                background-position: 65px 10px;
            }
        }
    }

    .game-information {
        background-color: @card-grey;
        color: @white;
        padding: 20px;
        width: 355px;
        height: 125px;
        position: relative;

        .wombat-preview-icon {
            position: absolute;
            right: 10px;
            top: 10px;

            img {
                width: 22px;
                height: 22px;
                padding: 3px;
                background-color: @white;
            }
        }

        .text-info {
            margin-bottom: 25px;

            .game-name {
                font-size: 18px;
                weight: 600;
                margin-bottom: 10px;
            }
        }

        .arena-freq {
            display: flex;
            flex-flow: row wrap;

            .freq-object {
                display: flex;
                width: 30px;
                flex-direction: column;
                align-items: center;
                margin-right: 45px;

                img {
                    width: 28px;
                    height: 28px;
                    padding-bottom: 5px;
                }

                .cherry {
                    height: 40px;
                    width: 40px;
                    padding-bottom: 0;
                    margin-top: -3px;
                    margin-bottom: -5px;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0px 0px 0px 1px @wombat-green;
    }
}
