@import "../colors.less";

.button {
    border-style: none;
    border: none;
    cursor: pointer;
    
    a {
        display: block;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}
