
@import "../colors.less";

.label(@padding-left: 0, @margin-bottom: 5px) {
    .label {
        display: block important!;
        text-align: left;
        font-size: 12px;
        color: @warm-grey;
        display: block;
        padding-left: @padding-left;
        margin-bottom: @margin-bottom;
    }
}
