@import '../colors.less';

.add-button {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: block;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  border: 1px solid @wombat-green;
  background-color: @wombat-green;
  cursor: pointer; 

  .text {
    display: block;
    padding: 10px 21px;
    font-size: 25px;
    color: @white;
  }
}