@import "simple-button.less";
@import "../colors.less";

@small-width: 90px;
@medium-width: 110px;
@large-width: 230px;

.arena-display {
    .arena-table {
        .header-cell:nth-child(1),
        .data-cell:nth-child(1) {
            width: @large-width;
        }

        .header-cell:nth-child(2),
        .data-cell:nth-child(2) {
            width: @medium-width;
        }

        .header-cell:nth-child(3),
        .data-cell:nth-child(3) {
            width: @small-width;
        }

        .header-cell:nth-child(4),
        .data-cell:nth-child(4) {
            width: @small-width;
        }

        .header-cell:nth-child(5),
        .data-cell:nth-child(5) {
            width: @medium-width;
        }

        .header-cell:nth-child(6),
        .data-cell:nth-child(6) {
            width: @medium-width;
        }

        .header-cell:nth-child(7),
        .data-cell:nth-child(7) {
            width: @small-width;
        }

        .data-cell:last-child {
            width: @medium-width;
            text-align: right;
            .create-game {
                visibility: hidden;
            }
        }

        .data-row:hover .data-cell:last-child {
            .create-game {
                visibility: visible;
            }
        }

        .create-game {
            .simple-button(@bg-color: @transparent, @margin-left: 0, @margin-right: 35px);
        }
    }
}
