@import "../colors.less";
@import "emphasized-button.less";

.join-button {
    width: 100px;
    text-align: center;
    .emphasized-button(@wombat-green, @black-30, @wombat-dark-green, @white);

    &.private {
        padding-right: 25px;
        background-image: url(/images/lock.png);
        background-repeat: no-repeat;
        background-position: 67px 10px;
    }
}
