@import "../colors";

@navbar-height: 45px;

.navbar-component {
    margin: 0;
    height: @navbar-height;
    background-color: @card-grey;

    .navbar {
        list-style-type: none;
        padding: 0;
        margin: 0 40px 0 215px;
        overflow: hidden;     
        
        .regular-link {
            float: left;  

            a {
                display: inline-block;
                color: @warm-grey;
                text-align: center;
                padding: 14px 13px;
                text-decoration: none;
                font-weight: 600;
                letter-spacing: 2px;
                margin-right: 3px;

                &.active, &:hover {
                    color: white;
                    border-bottom: 3px solid @wombat-green;
                    padding-bottom: 9px;
                    
                }
                
                
            }

            &.account {
                float: right;
                right: 40px;
            }
        }
    }

    .wombat-logo {
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        margin: 7px 40px 30px;
    }
}
