@import "../colors.less";
@import "../objects/active-line";

.tabbed-container {
    display: flex;
    flex-direction: column;

    .content {
        position: relative;
        flex-grow: 1;
    }

    .tabs {
        display: flex;
        
        button {
            // TODO: Pull out these styles into a generic button that we then use with games tab (so they're not divs)
            position: relative;
            cursor: pointer;
            padding: 15px;
            background-color: @transparent;
            color: @white;
            border: none;
            font-size: 14px;
            margin: 0 10px;

            &:focus {
                outline: none;
            }

            &:hover {
                .active-line-top;
            }
        }
    }
}
