@import "../colors.less";
@import "../objects/label.less";
@import "../components/inline-error";

@text-input-padding-left: 30px;
@text-input-height: 45px;
@text-input-margin-bottom: 30px;

.text-input-wrapper {
    text-align: center;
    margin-bottom: @text-input-margin-bottom;

    .label(@padding-left: @text-input-padding-left);

    .input {
        border-style: none;
        width: 300px;
        height: @text-input-height;
        font-size: 16px;
        letter-spacing: 0.5px;
        padding-left: 10px;
        color: @black;
        
        &.field-error {
            border: 1px solid @error-red;
        }

        &:disabled {
            background-color: @white-90;
            opacity: 0.5;
        }
    }

    .inline-error;
}
